//smartphones media query less than 500px
@include mediaSm{

  header{

    .sidenav{
      width: 50vw;
      left: -50vw;
    }
  }
 
  #section-a{
    
    .container{
      margin: 20% auto;
    
    }
  }

  #section-b{

    .container{
      width: 90%;
    }

    .topic-container{
      flex-direction: column;
    }

    .b-left{
      width: 100%;
      border-right: none;
    }
    
    .b-left .topics{
      display: block;

      article.sub-topic{
        width: 80%;
        margin: 2rem auto;

        &:first-child{
          border-right: none;
        }
      }
    }

    .b-right{
      width: 80%;
      margin: 0 auto;
    }

  }

  .section-c{

    .container{
      width: 90%;
    }

    .c-container{
      flex-direction: column;
    }

    .c-left{
      width: 100%;
      border-right: none;

      .topics{
        display: block;

        article.sub-topic{
          width: 80%;
          margin: 2rem auto;

          &:first-child, &:nth-child(3){
            border-right: none;
          }
    
        }
      }
    }

    .c-right{
      width: 80%;
    }
  }

  footer{

    .container{
      width: 80%;
    }

    .about{
      border: 2px solid blue;
      display: block;

      ul{
        li{
          display: flex;
          margin-left: 0;
        }
      }
    }

    .add{
      border: 1px solid red;
      display: block;

      .address{
        border: 1px solid pink;

        ul li{
          display: block;
        }
      }

      .media{
        border: 1px solid green;

      }

    }
  }
}