*, html, body, div, dl, dt, dd, ul, ol,
li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input,
p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a, img {
  border: none; }

sup {
  font-size: 50%; }

a, a:hover {
  text-decoration: none; }

a {
  color: black; }
  a:hover {
    color: rgba(179, 179, 179, 0.9); }
  a:active {
    color: #e3e6e9; }

header {
  position: fixed;
  width: 100%;
  background-color: #3089be;
  z-index: 2; }
  header .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: .5rem; }

header .logo {
  width: 90%;
  margin: 0 auto; }
  header .logo i {
    width: 40%;
    padding: 1rem 0; }

header .sidenav {
  position: fixed;
  width: 30vw;
  top: 0;
  left: -30vw;
  background-color: rgba(48, 137, 190, 0.9);
  height: 100%;
  z-index: 1;
  transition: all .5s ease-in; }
  header .sidenav button.close {
    position: absolute;
    top: 0;
    right: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 2rem; }
  header .sidenav ul.head-nav {
    width: 100%;
    margin-top: 50%; }
    header .sidenav ul.head-nav li {
      border-bottom: 1px solid #e3e6e9;
      padding: 8px 16px; }
      header .sidenav ul.head-nav li:first-child {
        border-top: 1px solid #e3e6e9; }
      header .sidenav ul.head-nav li a:hover {
        color: #e3e6e9; }
  header .sidenav ul.sub-nav {
    margin-top: 1rem; }
    header .sidenav ul.sub-nav li {
      border: none; }
      header .sidenav ul.sub-nav li:first-child {
        border-top: none; }
  header .sidenav.show {
    left: 0; }

#section-a {
  padding-top: 3.4rem;
  background-color: rgba(179, 179, 179, 0.9);
  background: url("../../dist/img/engineering.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh; }
  #section-a .container {
    width: 100%;
    margin: 10% auto;
    text-align: center; }

#section-a .details {
  margin: 0 auto;
  width: 80%; }
  #section-a .details h1, #section-a .details i, #section-a .details p {
    margin-bottom: 1rem; }
  #section-a .details i {
    font-size: 2rem; }

#section-a button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  #section-a button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

h1.heading {
  padding: 1rem 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: .7rem; }

#section-b .container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(48, 137, 190, 0.9); }

#section-b .topic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

#section-b .b-left {
  width: 60%;
  border-right: 1px solid rgba(48, 137, 190, 0.9); }
  #section-b .b-left article.main {
    text-align: center;
    border-bottom: 1px solid rgba(48, 137, 190, 0.9); }
    #section-b .b-left article.main img {
      width: 100%;
      border-bottom: 4px solid rgba(48, 137, 190, 0.9); }
    #section-b .b-left article.main .m-content {
      position: relative;
      text-transform: capitalize;
      margin-bottom: 1rem; }
      #section-b .b-left article.main .m-content h4 {
        position: absolute;
        top: -1.5rem;
        left: 40%;
        background-color: rgba(48, 137, 190, 0.9);
        padding: 8px 16px;
        width: auto;
        margin: 0 auto; }
      #section-b .b-left article.main .m-content p.details {
        padding-top: 1rem;
        line-height: 1.4rem;
        font-size: 1.5rem;
        font-weight: 600;
        width: 60%;
        margin: 0 auto; }
      #section-b .b-left article.main .m-content p.author {
        padding-top: .8rem;
        font-size: .8rem;
        color: rgba(179, 179, 179, 0.9); }
        #section-b .b-left article.main .m-content p.author span.name {
          color: black;
          font-weight: 600; }
  #section-b .b-left .topics {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #section-b .b-left .topics article.sub-topic {
      width: 48%;
      display: flex;
      margin: 2rem 2px; }
      #section-b .b-left .topics article.sub-topic:first-child {
        border-right: 1px solid rgba(48, 137, 190, 0.9); }
      #section-b .b-left .topics article.sub-topic img {
        width: 100px;
        height: 100px;
        margin-right: 10px; }
      #section-b .b-left .topics article.sub-topic .s-content {
        margin-left: 2px;
        text-transform: capitalize; }
        #section-b .b-left .topics article.sub-topic .s-content h4 {
          line-height: 1.4rem;
          font-weight: 600; }
        #section-b .b-left .topics article.sub-topic .s-content p {
          padding-top: .8rem;
          font-size: .8rem;
          color: rgba(179, 179, 179, 0.9); }
          #section-b .b-left .topics article.sub-topic .s-content p span.name {
            color: black;
            font-weight: 600; }

#section-b .b-right {
  text-transform: capitalize;
  width: 35%;
  padding: 1rem 0; }
  #section-b .b-right h1 {
    text-align: center;
    padding: 8px 16px;
    font-size: .8rem; }
  #section-b .b-right ul.popular-list li {
    border-bottom: 1px solid rgba(48, 137, 190, 0.9); }
    #section-b .b-right ul.popular-list li:first-child {
      border-top: 1px solid rgba(48, 137, 190, 0.9); }
    #section-b .b-right ul.popular-list li:last-child {
      border-bottom: none; }
    #section-b .b-right ul.popular-list li h4 {
      padding-top: .8rem;
      font-size: .8rem; }
    #section-b .b-right ul.popular-list li p.details {
      padding: 1rem 0;
      line-height: 1.4rem;
      font-size: 1rem;
      font-weight: 600; }
    #section-b .b-right ul.popular-list li p.author {
      padding: .8rem 0;
      font-size: .8rem;
      color: rgba(179, 179, 179, 0.9); }
      #section-b .b-right ul.popular-list li p.author span.name {
        color: black;
        font-weight: 600; }

.section-c .container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(48, 137, 190, 0.9); }

.section-c .c-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.section-c .c-left {
  width: 60%;
  border-right: 1px solid rgba(48, 137, 190, 0.9); }
  .section-c .c-left article.main {
    text-align: center;
    border-bottom: 1px solid rgba(48, 137, 190, 0.9); }
    .section-c .c-left article.main img {
      width: 100%;
      border-bottom: 4px solid rgba(48, 137, 190, 0.9); }
    .section-c .c-left article.main .m-content {
      position: relative;
      text-transform: capitalize;
      margin-bottom: 1rem; }
      .section-c .c-left article.main .m-content h4 {
        position: absolute;
        top: -1.5rem;
        left: 40%;
        background-color: rgba(48, 137, 190, 0.9);
        padding: 8px 16px;
        width: auto;
        margin: 0 auto; }
      .section-c .c-left article.main .m-content p.details {
        padding-top: 1rem;
        line-height: 1.4rem;
        font-size: 1.5rem;
        font-weight: 600;
        width: 60%;
        margin: 0 auto; }
      .section-c .c-left article.main .m-content p.author {
        padding-top: .8rem;
        font-size: .8rem;
        color: rgba(179, 179, 179, 0.9); }
        .section-c .c-left article.main .m-content p.author span.name {
          color: black;
          font-weight: 600; }
  .section-c .c-left .topics {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap; }
    .section-c .c-left .topics article.sub-topic {
      width: 48%;
      display: flex;
      margin: 1rem 2px; }
      .section-c .c-left .topics article.sub-topic:first-child, .section-c .c-left .topics article.sub-topic:nth-child(3) {
        border-right: 1px solid rgba(48, 137, 190, 0.9); }
      .section-c .c-left .topics article.sub-topic img {
        width: 100px;
        height: 100px;
        margin-right: 10px; }
      .section-c .c-left .topics article.sub-topic .s-content {
        text-transform: capitalize;
        margin-right: 5px; }
        .section-c .c-left .topics article.sub-topic .s-content h4 {
          line-height: 1.4rem;
          font-weight: 600; }
        .section-c .c-left .topics article.sub-topic .s-content p {
          padding-top: .8rem;
          font-size: .8rem;
          color: rgba(179, 179, 179, 0.9); }
          .section-c .c-left .topics article.sub-topic .s-content p span.name {
            color: black;
            font-weight: 600; }

.section-c .c-right {
  text-transform: capitalize;
  width: 35%;
  margin: 0 auto; }
  .section-c .c-right article.sub-topic {
    border-bottom: 1px solid rgba(48, 137, 190, 0.9);
    margin-bottom: 1.3rem; }
    .section-c .c-right article.sub-topic:last-child {
      border-bottom: none; }
    .section-c .c-right article.sub-topic img {
      width: 100%;
      border-bottom: 4px solid rgba(48, 137, 190, 0.9); }
    .section-c .c-right article.sub-topic .s-content h4 {
      padding-top: .8rem;
      font-size: .8rem; }
    .section-c .c-right article.sub-topic .s-content p.details {
      padding: 1rem 0;
      line-height: 1.4rem;
      font-size: 1rem;
      font-weight: 600; }
    .section-c .c-right article.sub-topic .s-content p.author {
      padding: .8rem 0;
      font-size: .8rem;
      color: rgba(179, 179, 179, 0.9); }
      .section-c .c-right article.sub-topic .s-content p.author span.name {
        color: black;
        font-weight: 600; }

footer {
  background-color: #3089be; }
  footer .container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem; }
  footer a:hover {
    color: #e3e6e9; }

footer .about {
  padding-bottom: 5px;
  border-bottom: 4px solid rgba(227, 230, 233, 0.3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  footer .about i {
    padding: 8px 16px;
    font-weight: 550; }
  footer .about ul {
    padding: 8px 16px; }
    footer .about ul li {
      display: inline-block;
      margin-left: 16px;
      font-weight: 550; }

footer .add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  footer .add .address {
    margin: 0 auto; }
    footer .add .address ul li {
      display: inline-block;
      padding: 1rem;
      margin-right: 1rem; }
  footer .add .media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    footer .add .media a {
      padding: 1rem; }

footer .copyright {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

/*got really tired of writing comments not my fault don't know the english to use nor blame me*/
@media screen and (max-width: 768px) {
  header .sidenav {
    width: 50vw;
    left: -50vw; }
  #section-a .container {
    margin: 20% auto; }
  #section-b .container {
    width: 90%; }
  #section-b .topic-container {
    display: block; }
  #section-b .b-left {
    width: 100%;
    border-right: none; }
  #section-b .b-left .topics {
    display: block; }
    #section-b .b-left .topics article.sub-topic {
      width: 80%;
      margin: 2rem auto; }
      #section-b .b-left .topics article.sub-topic:first-child {
        border-right: none; }
  #section-b .b-right {
    width: 80%;
    margin: 0 auto; }
  .section-c .container {
    width: 90%; }
  .section-c .c-container {
    flex-direction: column; }
  .section-c .c-left {
    width: 100%;
    border-right: none; }
    .section-c .c-left .topics {
      display: block; }
      .section-c .c-left .topics article.sub-topic {
        width: 80%;
        margin: 2rem auto; }
        .section-c .c-left .topics article.sub-topic:first-child, .section-c .c-left .topics article.sub-topic:nth-child(3) {
          border-right: none; }
  .section-c .c-right {
    width: 80%; }
  footer .container {
    width: 90%; }
  footer .about {
    display: block; }
    footer .about ul li {
      display: flex;
      margin-left: 0; }
  footer .add {
    display: block; }
    footer .add .address ul li {
      display: block; } }

@media screen and (min-width: 600px) and (max-width: 768px) {
  #section-b .container {
    width: 80%; }
  .section-c .container {
    width: 80%; }
  footer .container {
    width: 80%; } }

@media screen and (min-width: 768px) and (max-width: 1170px) {
  #section-b .b-left .topics {
    display: block; }
    #section-b .b-left .topics article.sub-topic {
      width: 100%; }
      #section-b .b-left .topics article.sub-topic:first-child {
        border-right: none; }
  .section-c .c-left .topics {
    display: block; }
    .section-c .c-left .topics article.sub-topic {
      width: 100%; }
      .section-c .c-left .topics article.sub-topic:first-child, .section-c .c-left .topics article.sub-topic:nth-child(3) {
        border-right: none; } }
